<!DOCTYPE html>
<html>

<head>
    <title>Paris Pizza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="css/business-casual.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic">

    <script src="js/jquery.js"></script>
    <script src="config.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="menu.css">

    <title>Rapide Pizza</title>





</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>  

                      
                       
      </button>
                <a class="navbar-brand" href="#">Pizza paris </a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#entre">Entree</a></li>
                        <li><a href="#pizza">Pizza</a></li>
                        <li><a href="#ctp">Compose ta Pizza</a></li>

                        <li><a href="#boisson">Boissons</a></li>
                        <li><a href="#menu">Menu</a></li>




                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="entre" class="container-fluid">
        <div class="row">
            <div class="box">
                <% let i;
                for (i = 0; i < entre.length; i++) { %>
                    <div class="col-lg-3">


                        <img src="img/bread.png" width="100%">

                        <h1>
                            <%= entre[i].entre_name %>
                        </h1>
                        <p>
                            <%= entre[i].entre_prix %>£
                        </p>

                        <input type="number" min="0" max="500">


                        <button type="button" class="btn btn-info">Ajouter</button>

                    </div>
                    <% } %>

            </div>

        </div>

    </div>


    <div class="clearfix" style="margin : 10px"></div>






    <div id="pizza" class="container-fluid">

        <div class="row">
            <% let j;
            for (j = 0; j < entre.length; j++) { %>
                <div class="box">
                    <div class="col-lg-3">


                        <img src="img/slide-1.jpg" width="100%">

                        <h1>
                            <%= Pizza[j].pizza_name %>
                        </h1>
                        <p>
                            <%= Pizza[j].pizza_desc %>
                        </p>
                        <p>
                            <%= Pizza[j].pizza_prix %>£
                        </p>

                        <select name="select">
      <option value="value1">Normale</option>
      <option value="value2" selected>Large</option>
    </select>
                        <select name="select">
      <option value="value1">Classique</option>
      <option value="value2" selected>Fine</option>
    </select>
                        <input type="number" min="0" max="500">
                        <button type="button" class="btn btn-info">Ajouter</button>
                    </div>
                    <% } %>

                        <div class="clearfix" style="margin : 10px"></div>


                </div>
        </div>

    </div>
    <div id="boisson" class="container-fluid">

        <div class="row">
            <div class="box">
                <% let k;
                for (k = 0; k < boisson.length; k++) { %>
                    <div class="col-lg-3">
                        <img src="img/coca.png" width="100%">
                        <h1>
                            <%= boisson[k].b_name %>
                        </h1>
                        <p>
                            <%= boisson[k].b_prix %>£
                        </p>
                        <input type="number" min="0" max="500">
                        <button type="button" class="btn btn-info
                        ">Ajouter</button>
                    </div>
                    <% } %>

                        <div id="menu" class="container-fluid">

                            <div class="row">
                                <div class="box">
                                    <!--faire le menu -->
                                    <div class="row">
                                        <div class="box">
                                            <div class="col-lg-6">
                                                <img src="img/menu_pizza_boisson.jpg" style="max-height: 200px;">
                                                <h1>Extra Menu </h1>
                                                <p>1 entrée, 1 pizza Médium, 1 boisson</p>
                                                <p>15,00 €</p>

                                                <button type="button" class="btn btn-info">Ajouter</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <img src="img/menu_pizza_boisson.jpg" style="max-height: 200px;">
                                                <h1>Mega Menu</h1>
                                                <p>2 entrées, 2 pizzas Médium, 1 boisson d’au moins 1l</p>
                                                <p>20,00 €</p>
                                                <button type="button" class="btn btn-info">Ajouter</button>
                                            </div>
                                            <div class="clearfix" style="margin : 10px"></div>


                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div id="ctp" class="container-fluid">
                                <h1>Compose Ta Pizza ! </h1>
                                <div>
                                    <form>
                                        <label for="size-select">Taille M 4 - L 8 :</label>

                                        <select name="taille" id="taille" onchange="price();">
                                        <option value="4">M</option>
                                        <option value="8">L</option>
                                 </select>
                                </div>
                                <div>
                                    <label for="sauce-select">Sauce  :</label>

                                    <select name="sauce" id="sauce">
                                        <option value="tomate">sauce tomates (Default) </option>
                                        <option value="blanche">sauce blanche</option>
                                 
                                    </select>
                                </div>
                                <div>
                                    <label>Viandes:</label>
                                    <% let p ;
                                    for (p = 0; p < viandes.length; p++) { %>
                                        <input type="checkbox" name="viandes" value="" id="viandes" />
                                        <%= viandes[p].v_name %>

                                            <% } %>


                                </div>

                                <div>



                                    <label for="Legumes-select">Legumes:</label>
                                    <%for (p = 0; p< legumes.length; p++) { %>
                                        <input type="checkbox" name="legumes" id="legumes">

                                        <label for="legumes"> <%= legumes[p].leg_name %></label>
                                        <% } %>

                                </div>


                                </form>

                                <div>
                                    <h1> Prix Totale :</h1>
                                    <h1 id="prix"> 0 $</h1>
                                </div>
                            </div>



</body>