<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>




    <script src="js/index.js"></script>
    <title>paris pizza</title>
    <link rel="stylesheet" href="index.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic">

    <script src="js/jquery.js"></script>
</head>





<body data-spy="scroll" data-target="#navspied" data-offset="0">
    <div>
        <nav class="autohide navbar navbar-light navbar-expand-lg bg-warning">

            <a class="navbar-brand" href="#">Pizza Paris</a>

            <button class="navbar-toggler" type="button color" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse navspied" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" type="button" href="#entrees" onclick="clickScroll('entree')">entrees<span
                        class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" type="button" onclick="clickScroll('pizza')">pizzas</a>
                    <a class="nav-item nav-link" type="button" onclick="clickScroll('boisson')">boissons</a>
                    <a class="nav-item nav-link" type="button" href="/compose">compose ta pizza</a>

                    <div class="dropdown"></div>
                    <button onclick="window.location.href='http://127.0.1.1:8888/livraison';" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Connexion
                </button> --
                    <div class="dropdown float-right cart">

                        <button class="btn  btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Panier
                    </button>
                        <div class="dropdown-menu cartdiv">
                            <ul class="list-group show-cart-drop">

                            </ul>
                            <div class="dropdown-divider"></div>
                            <a href="#panier" data-toggle="modal" data-target="#cart" onclick="displayCartModal()">Panier(<span class="total-count btn btn-info cart"></span>)</a>
                        </div>
                    </div>

                </div>

            </div>


        </nav>

        <div id="carouselMenus" class="carousel slide " data-ride="carousel" data-interval="900">
            <ol class="carousel-indicators">
                <li data-target="#carouselMenus" data-slide-to="0" class="active"></li>
                <li data-target="#carouselMenus" data-slide-to="1"></li>
                <li data-target="#carouselMenus" data-slide-to="2"></li>
            </ol>


            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="https://lapizzadenico.com/pzdn-uploads/2022/02/Site_MenuRacing_ReseauxSociaux3-1440x600.jpg" class="d-block img-fluid">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="https://slanz.in/wp-content/uploads/2017/06/istock-488884742-1440x600.jpg" class="d-block img-fluid">
                    <div class="carousel-caption d-none d-md-block">

                    </div>
                </div>



                <div class="carousel-item">
                    <img src="https://sortinositaliankitchen.com/media/4284/carousel-sortinos_0001_studio-session-074.png?mode=crop&width=480&anchor=middlecenter&scale=both" class="d-block img-fluid">
                    <div class="carousel-caption d-none d-md-block">

                    </div>

                </div>



            </div>

            <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Panier</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <table class="show-cart table">

                            </table>
                            <div>Total price: <span class="total-cart"></span> €</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Order now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="food">

        <div id="entree" class="container">
            <div class="row">

                <% let i; for (i=0; i < entre.length; i++) { %>
                    <div class="col-sm-3 bordureJaune">

                        <img src="img/salade.jpg " id="all" width="100% ">

                        <h1>
                            <%= entre[i].entre_name %>
                        </h1>
                        <p>
                            <%= entre[i].entre_prix %>$
                        </p>

                        <input type="number" min="0" max="500">



                        <a href="#" data-name="<%=entre[i].entre_name%>" data-price="<%= entre[i].entre_prix %>" class="add-to-cart btn btn-info">Ajouter</a>
                    </div>
                    <% } %>


            </div>

        </div>








        <div id="pizza" class="container ">

            <div class="row">
                <% let j; for (j=0; j < entre.length; j++) { %>
                    <div class="col-sm-3 bordureJaune">


                        <img src="img/slide-1.jpg " id="all" width="100% ">

                        <h1>
                            <%= Pizza[j].pizza_name %>
                        </h1>
                        <p>
                            <%= Pizza[j].pizza_desc %>
                        </p>
                        <p>
                            <%= Pizza[j].pizza_prix %>£
                        </p>

                        <select name="select ">
                                <option value="value1 ">Normale</option>
                                <option value="value2 " selected>Large</option>
                            </select>
                        <select name="select ">
                                <option value="value1">Classique</option>
                                <option value="value2" selected>Fine</option>
                            </select>
                        <input type="number" min="0" max="500">
                        <a href="#" data-name="<%=Pizza[j].pizza_name%>" data-price="<%= Pizza[j].pizza_prix %>" class="add-to-cart btn btn-info">Ajouter</a>
                    </div>
                    <% } %>



            </div>
        </div>

    </div>
    <div id="boisson" class="container ">

        <div class="row ">
            <% let k; for (k=0; k < boisson.length; k++) { %>
                <div class="col-sm-3 bordureJaune">
                    <img src="img/coca.png " width="100% ">
                    <h1>
                        <%= boisson[k].b_name %>
                    </h1>
                    <p>
                        <%= boisson[k].b_prix %>£
                    </p>
                    <input type="number " min="0 " max="500 ">
                    <a href="# " data-name="<%=boisson[k].b_name%>" data-price="
                            <%= boisson[k].b_prix %>" class="add-to-cart btn btn-info">Ajouter</a>
                </div>
                <% } %>



                    <div id="menu " class="container ">

                        <div class="row ">
                            <!--faire le menu -->
                            <div class="row ">
                                <div class="col-lg-6 bordureJaune ">
                                    <img src="img/menu_pizza_boisson.jpg " id="all" style="max-height: 200px; ">
                                    <h1>Extra Menu </h1>
                                    <p>1 entrée, 1 pizza Médium, 1 boisson</p>
                                    <p>15,00 €</p>

                                    <button type="button " class="btn btn-info ">Ajouter</button>
                                </div>
                                <div class="col-lg-6 bordureJaune ">
                                    <img src="img/menu_pizza_boisson.jpg " id="all" style="max-height: 200px; ">
                                    <h1>Mega Menu</h1>
                                    <p>2 entrées, 2 pizzas Médium, 1 boisson d’au moins 1l</p>
                                    <button type="button " class="btn btn-info ">Ajouter</button>
                                </div>
                                <div class="clearfix " style="margin : 10px "></div>



                            </div>


                        </div>
</body>

</html>