<!DOCTYPE html>
<html>

<head>
    <title>Paris Pizza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="css/business-casual.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic">

    <script src="js/jquery.js"></script>
    <script src="config.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="menu.css">

    <title>Rapide Pizza</title>




</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" id="clp">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>  

                      
                       
      </button>
                <a class="navbar-brand" href="#">Pizza paris </a>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#entre">Entree</a></li>
                        <li><a href="#pizza">Pizza</a></li>
                        <li><a href="#ctp">Compose ta Pizza</a></li>
                        <li><a href="#boisson">Boissons</a></li>
                        <li><a href="#menu">Menu</a></li>
                        <li><a href="#panier" data-toggle="modal" data-target="#cart">Panier(<span class="total-count"></span>)</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>





    <div id="entre " class="container ">
        <div class="row ">
            <div class="box_entre ">
                <% let i;
                for (i = 0; i < entre.length; i++) { %>
                    <div class="col-lg-3 ">

                        <img src="img/bread.png " width="100% ">

                        <h1>
                            <%= entre[i].entre_name %>
                        </h1>
                        <p>
                            <%= entre[i].entre_prix %>$
                        </p>

                        <input type="number " min="0 " max="500 ">


                        <button type="button " data-name="<%= entre[i].entre_name %>" data-price="<%= entre[i].entre_prix %>" class="btn btn-info panier">Ajouter</button>

                    </div>
                    <% } %>

            </div>

        </div>

    </div>








    <div id="pizza " class="container ">

        <div class="row ">
            <% let j;
            for (j = 0; j < entre.length; j++) { %>
                <div class="box ">
                    <div class="col-lg-3 ">


                        <img src="img/slide-1.jpg " width="100% ">

                        <h1>
                            <%= Pizza[j].pizza_name %>
                        </h1>
                        <p>
                            <%= Pizza[j].pizza_desc %>
                        </p>
                        <p>
                            <%= Pizza[j].pizza_prix %>£
                        </p>

                        <select name="select ">
      <option value="value1 ">Normale</option>
      <option value="value2 " selected>Large</option>
    </select>
                        <select name="select ">
      <option value="value1 ">Classique</option>
      <option value="value2 " selected>Fine</option>
    </select>
                        <input type="number " min="0 " max="500 ">
                        <button type="button " data-name="<%= Pizza[j].pizza_name %>" data-price="<%=Pizza[j].pizza_prix %>" class="btn btn-info panier">Ajouter</button>
                    </div>
                    <% } %>



                </div>
        </div>

    </div>
    <div id="boisson " class="container ">

        <div class="row ">
            <div class="box ">
                <% let k;
                for (k = 0; k < boisson.length; k++) { %>
                    <div class="col-lg-3 ">
                        <img src="img/coca.png " width="100% ">
                        <h1>
                            <%= boisson[k].b_name %>
                        </h1>
                        <p>
                            <%= boisson[k].b_prix %>£
                        </p>
                        <input type="number " min="0 " max="500 ">
                        <button type="button " data-name="<%= boisson[k].b_name %>" data-price="<%= boisson[k].b_prix %>" class="btn btn-info panier">Ajouter</button>
                    </div>
                    <% } %>

                        <div id="menu " class="container ">

                            <div class="row ">
                                <div class="box ">
                                    <!--faire le menu -->
                                    <div class="row ">
                                        <div class="box ">
                                            <div class="col-lg-6 ">
                                                <img src="img/menu_pizza_boisson.jpg " style="max-height: 200px; ">
                                                <h1>Extra Menu </h1>
                                                <p>1 entrée, 1 pizza Médium, 1 boisson</p>
                                                <p>15,00 €</p>

                                                <button type="button " class="btn btn-info ">Ajouter</button>
                                            </div>
                                            <div class="col-lg-6 ">
                                                <img src="img/menu_pizza_boisson.jpg " style="max-height: 200px; ">
                                                <h1>Mega Menu</h1>
                                                <p>2 entrées, 2 pizzas Médium, 1 boisson d’au moins 1l</p>
                                                <p>20,00 €</p>
                                                <button type="button " class="btn btn-info ">Ajouter</button>
                                            </div>
                                            <div class="clearfix " style="margin : 10px "></div>


                                        </div>
                                    </div>
                                </div>


                                <h1>Composer Ta Pizza !!</h1>
                                <div id="ctp" class="content">
                                    <div class="tailleBase component">
                                        <div class="ribbon">
                                            <h2>TAILLE &amp; BASE</h2>
                                            <select id="select" aria-label="taille_sauce ">
                                                  <option value="M">M</option>
                                                  <option value="L">L</option>
                                            </select>

                                            <select id="select" aria-label="taille_sauce ">
                                               
                                                  <option value="tomate">Tomates</option>
                                                  <option value="creme fraiche">Crème Fraiche</option>
                                              </select>
                                        </div>

                                        <div class="viande component ">
                                            <div class="ribbon ">
                                                <h2>LES VIANDES</h2>
                                                <div class="textMenu ">M 1,50€ - L 2,00€</div>
                                            </div>
                                            <div class="text-content ">
                                                <%  for (p=0 ; p < viandes.length; p++) { %>

                                                    <div class="ingredients ">
                                                        <img class=" lazyloaded " id="viandes" width="100 " src=<%=viandes[p].link_img %>
                                                        <p>
                                                            <%= viandes[p].v_name %>
                                                                <%= viandes[p].v_prix %> $
                                                        </p>
                                                    </div>
                                                    <% } %>





                                            </div>
                                        </div>
                                        <div class="veggie component ">
                                            <div class="ribbon ">
                                                <h2>LES LÉGUMES</h2>
                                                <div class="textMenu ">M 0,70€ - L 0,95€</div>
                                            </div>
                                            <div class="text-content ">
                                                <% for (p=0 ; p < legumes.length; p++) { %>
                                                    <div class="ingredients ">
                                                        <img class=" lazyloaded " id="legumes" width="100 " src=<%=legumes[p].link_img %>

                                                        <p>
                                                            <%= legumes[p].leg_name %>
                                                                <%= legumes[p].leg_prix %> $</p>
                                                    </div>

                                                    <% } %>




                                            </div>
                                        </div>
                                        <div class="fromage component ">
                                            <div class="ribbon ">
                                                <h2>LES FROMAGES</h2>
                                                <div class="textMenu ">M 1,00€ - L 1,30€</div>
                                            </div>
                                            <div class="text-content ">
                                                <div class="ingredients "><noscript><img width="100 " src="https://www.fivepizzaoriginal.com/wp-content/uploads/2021/01/Mozzarella.png " alt="Mozzarella "></noscript><img class=" lazyloaded " width="100
                                                            " src="https://www.fivepizzaoriginal.com/wp-content/uploads/2021/01/Mozzarella.png " data-src="https://www.fivepizzaoriginal.com/wp-content/uploads/2021/01/Mozzarella.png " alt="Mozzarella ">
                                                    <p>
                                                        fromage
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="sauce component ">
                                            <div class="ribbon ">
                                                <h2>LES SAUCES</h2>
                                                <div class="textMenu ">M &amp; L 0,30€</div>
                                            </div>
                                            <div class="text-content ">
                                                <% for (p=0 ; p < sauces.length; p++) { %>

                                                    <div class="ingredients "><noscript><img width="100 " src="https://www.fivepizzaoriginal.com/wp-content/uploads/2021/01/Algerienne.png " alt="sauce algérienne "></noscript><img class="lazyload
                                                            " width="100 " src="data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20100%2066.666666666667%22%3E%3C/svg%3E " data-src="https://www.fivepizzaoriginal.com/wp-content/uploads/2021/01/Algerienne.png "
                                                            alt="sauce algérienne ">
                                                        <p>
                                                            <%= sauces[p].sc_name %>
                                                        </p>
                                                    </div>

                                                    <% } %>


                                            </div>
                                        </div>
                                        <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Panier</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="show-cart table">

                                                        </table>
                                                        <div>Total price: $<span class="total-cart"></span></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Order now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        // ************************************************
                                        // Shopping Cart API
                                        // ************************************************

                                        var shoppingCart = (function() {
                                            // =============================
                                            // Private methods and propeties
                                            // =============================
                                            cart = [];

                                            // Constructor
                                            function Item(name, price, count) {
                                                this.name = name;
                                                this.price = price;
                                                this.count = count;
                                            }

                                            // Save cart
                                            function saveCart() {
                                                sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
                                            }

                                            // Load cart
                                            function loadCart() {
                                                cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
                                            }
                                            if (sessionStorage.getItem("shoppingCart") != null) {
                                                loadCart();
                                            }



                                            var obj = {};

                                            // Add to cart
                                            obj.addItemToCart = function(name, price, count) {
                                                    for (var item in cart) {
                                                        if (cart[item].name === name) {
                                                            cart[item].count++;
                                                            saveCart();
                                                            return;
                                                        }
                                                    }
                                                    var item = new Item(name, price, count);
                                                    cart.push(item);
                                                    saveCart();
                                                }
                                                // Set count from item
                                            obj.setCountForItem = function(name, count) {
                                                for (var i in cart) {
                                                    if (cart[i].name === name) {
                                                        cart[i].count = count;
                                                        break;
                                                    }
                                                }
                                            };
                                            // Remove item from cart
                                            obj.removeItemFromCart = function(name) {
                                                for (var item in cart) {
                                                    if (cart[item].name === name) {
                                                        cart[item].count--;
                                                        if (cart[item].count === 0) {
                                                            cart.splice(item, 1);
                                                        }
                                                        break;
                                                    }
                                                }
                                                saveCart();
                                            }

                                            // Remove all items from cart
                                            obj.removeItemFromCartAll = function(name) {
                                                for (var item in cart) {
                                                    if (cart[item].name === name) {
                                                        cart.splice(item, 1);
                                                        break;
                                                    }
                                                }
                                                saveCart();
                                            }

                                            // Clear cart
                                            obj.clearCart = function() {
                                                cart = [];
                                                saveCart();
                                            }

                                            // Count cart 
                                            obj.totalCount = function() {
                                                var totalCount = 0;
                                                for (var item in cart) {
                                                    totalCount += cart[item].count;
                                                }
                                                return totalCount;
                                            }

                                            // Total cart
                                            obj.totalCart = function() {
                                                var totalCart = 0;
                                                for (var item in cart) {
                                                    totalCart += cart[item].price * cart[item].count;
                                                }
                                                return Number(totalCart.toFixed(2));
                                            }

                                            // List cart
                                            obj.listCart = function() {
                                                var cartCopy = [];
                                                for (i in cart) {
                                                    item = cart[i];
                                                    itemCopy = {};
                                                    for (p in item) {
                                                        itemCopy[p] = item[p];

                                                    }
                                                    itemCopy.total = Number(item.price * item.count).toFixed(2);
                                                    cartCopy.push(itemCopy)
                                                }
                                                return cartCopy;
                                            }


                                            return obj;
                                        })();


                                        /*****************************************/
                                        // Add item
                                        $('.panier').click(function(event) {
                                            event.preventDefault();
                                            var name = $(this).data('name');
                                            var price = Number($(this).data('price'));
                                            shoppingCart.addItemToCart(name, price, 1);
                                            displayCart();
                                        });

                                        // Clear items
                                        $('.clear-cart').click(function() {
                                            shoppingCart.clearCart();
                                            displayCart();
                                        });


                                        function displayCart() {
                                            var cartArray = shoppingCart.listCart();
                                            console.log(cartArray);
                                            var output = "";
                                            for (var i in cartArray) {
                                                output += "<tr>" +
                                                    "<td>" + cartArray[i].name + "</td>" +
                                                    "<td>(" + cartArray[i].price + ")</td>" +
                                                    "<td><div class='input-group'><button class='minus-item input-group-addon btn btn-primary' data-name=" + cartArray[i].name + ">-</button>" +
                                                    "<input type='number' class='item-count form-control' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'>" +
                                                    "<button class='plus-item btn btn-primary input-group-addon' data-name=" + cartArray[i].name + ">+</button></div></td>" +
                                                    "<td><button class='delete-item btn btn-danger' data-name=" + cartArray[i].name + ">X</button></td>" +
                                                    " = " +
                                                    "<td>" + cartArray[i].total + "</td>" +
                                                    "</tr>";
                                            }
                                            $('.show-cart').html(output);
                                            $('.total-cart').html(shoppingCart.totalCart());
                                            $('.total-count').html(shoppingCart.totalCount());
                                        }

                                        // Delete item button

                                        $('.show-cart').on("click", ".delete-item", function(event) {
                                            var name = $(this).data('name')
                                            console.log(name);
                                            shoppingCart.removeItemFromCartAll(name);
                                            displayCart();
                                        })


                                        // -1
                                        $('.show-cart').on("click", ".minus-item", function(event) {
                                                var name = $(this).data('name')
                                                shoppingCart.removeItemFromCart(name);
                                                displayCart();
                                            })
                                            // +1
                                        $('.show-cart').on("click", ".plus-item", function(event) {
                                            var name = $(this).data('name')
                                            shoppingCart.addItemToCart(name);
                                            displayCart();
                                        })

                                        // Item count input
                                        $('.show-cart').on("change", ".item-count", function(event) {
                                            var name = $(this).data('name');
                                            var count = Number($(this).val());
                                            shoppingCart.setCountForItem(name, count);
                                            displayCart();
                                        });

                                        displayCart();
                                    </script>

                                </div>





</body>